<a href="https://colab.research.google.com/github/Sankarlal-MyGH/FakeNewsClassifierUsingNLP/blob/main/FakeNewsClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df = pd.read_csv('train.csv')

In [5]:
df.shape

(20800, 5)

In [6]:
df.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [7]:
#import sklearn lib
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer

In [8]:
df = df.dropna()

In [9]:
df.shape

(18285, 5)

In [10]:
messages = df.copy()

In [11]:
messages.reset_index(inplace=True)

In [12]:
#Seperate the text and create list of words after cleaning the data
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []

In [13]:
for i in range(0, len(messages)):
  review = re.sub('[^a-zA-Z]',' ',messages['title'][i])
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus.append(review)

In [14]:
corpus[3]

'civilian kill singl us airstrik identifi'

In [15]:
## Applying Countvectorizer
## Creating the Bag of Words model
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
X = cv.fit_transform(corpus).toarray()

In [16]:
X.shape

(18285, 5000)

In [17]:
y=messages['label']

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=1)

In [19]:
cv.get_feature_names()[:20]

['abandon',
 'abc',
 'abc news',
 'abduct',
 'abe',
 'abedin',
 'abl',
 'abort',
 'abroad',
 'absolut',
 'abstain',
 'absurd',
 'abus',
 'abus new',
 'abus new york',
 'academi',
 'accept',
 'access',
 'access pipelin',
 'access pipelin protest']

In [21]:
#Build Multinomial NB Classifier
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

In [22]:
classifier.fit(X_train,y_train)
pred = classifier.predict(X_test)

In [23]:
from sklearn import metrics
import numpy as np
import itertools

In [25]:
metrics.accuracy_score(y_test,pred)

0.9022967553773241